<section id="secao-contato">
  <div id="conteudo-contato">
   <form method="POST" action="" onsubmit="return validaFormulario();">
      <div id="msg-erro"></div>
      
      <div>
       <label for="nome">Nome:</label>
       <input type="text" name="nome" id="nome" placeholder="digite o seu nome...">
      </div>
      
      <div>
       <label for="email">Email:</label>
       <input type="text" name="email" id="email" placeholder="digite o seu email...">
      </div>
      
      <div>
       <label for="mensagem">Mensagem:</label>
       <textarea name="mensagem" id="mensagem" placeholder="digite sua mensagem..."></textarea>
      </div>
      
      <div>      
       <button type="submit" id="enviar" name="enviar">ENVIAR</button>
      </div> 
    </form>
  </div>  
  <div class="clear"></div>
</section>