/* You can add global styles to this file, and also import other style files */
body {
    background: url(/assets/img/bg-pet-2.jpg);
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu Condensed';
  }
  .container {
    width: 900px;
    height: 140px;
    margin: 0 auto; /* é o mesmo que: 0 auto 0 auto */
  }
  
  .clear {
    clear: both;
  }