<!-- CONTEUDO DA PAGINA -->
<section id="secao-home">
  <div id="coluna1">
    <article>
      <p>Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mé, boa gentis num é. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Aenean aliquam molestie leo, vitae iaculis nisl.</p>
    </article>    
    <article id="artigo2">
      <p>Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mé, boa gentis num é. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Aenean aliquam molestie leo, vitae iaculis nisl.</p>
    </article> 
  </div>
  
  <div id="coluna2">
    <article>
      <p>Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mé, boa gentis num é. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Aenean aliquam molestie leo, vitae iaculis nisl.</p>
    </article> 
  </div>  
  <div class="clear"></div>
</section>
<!-- FIM DE CONTEUDO DA PAGINA -->